body{
    color: #333;
}

#hero{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 0 30px 30px;
}

#P2{
    display: none;
}

form{
    margin-bottom: 30px;
}

input{
    margin: 10px 0;
    color: #333;
}

input[type=radio]{
    margin: 10px 5px 10px 20px;
}

input[type=radio]:first-of-type{
    margin-left: 0;
}

input[type=button]{
    background: lightblue;
    width: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #999;
    padding: 10px 0;
}

#result{
    font-weight: bold;
    letter-spacing: 1px;
}